<% include ../partials/header%>

    <% include ../partials/user-menu%>

            <div class="ui secondary vertical pointing menu">
              <a href="/users/<%= user._id%>" class="item">
                Home
              </a>
              <a href="/users/<%= user._id%>/blogs" class="item active">
                Blogs
              </a>
              <% if(currentUser && user.username === currentUser.username) {%>
                <a href="/users/<%= user._id%>/feeds" class="item third-element">
                  New Feed<span class="ui blue circular label"><%= currentUser.feeds.length%></span>
                </a>
                <!--<a href="/users/<%= user._id%>/messages" class="item">-->
                <!--  Messages<span class="ui blue circular label">1</span>-->
                <!--</a>-->
              <% } %>
              <a href="/users/<%= user._id%>/following" class="item">
                Following
              </a>
            </div>
            <!--<% if(currentUser && user.username !== currentUser.username) {%>-->
            <!--  <a id="leave-mess-btn" class="ui button">Leave a message<i class="talk outline icon" style="margin-left: 3px;"></i></a>-->
            <!--<% } %>-->
        </div>
        
        <% if(currentUser && user.username === currentUser.username) {%>
          <div class="ui fluid four item menu">
            <a href="/users/<%= user._id%>" class="item">Home</a>
            <a href="/users/<%= user._id%>/blogs" class="item" style="color: #56aaff;">Blogs</a>
            <a href="/users/<%= user._id%>/feeds" class="item third-element">
              New Feed<i class="ui blue circular label"><%= currentUser.feeds.length%></i>
            </a>
            <a href="/users/<%= user._id%>/following" class="item">Following</a>
          </div>
        <% }else{ %>
          <div class="ui fluid three item menu">
            <a href="/users/<%= user._id%>" class="item">Home</a>
            <a href="/users/<%= user._id%>/blogs" class="item" style="color: #56aaff;">Blogs</a>
            <a href="/users/<%= user._id%>/following" class="item">Following</a>
          </div>
        <% } %>
        
        <div id="blog" class="ui segment user-info">
            <div class="ui three column grid">
              <% if(user.blogs.length > 0){ %>
                <% user.blogs.forEach(function(blog){ %>
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="<%= blog.image%>">
                            </div>
                            <div class="content">
                                <a class="header" href="/blogs/<%=blog._id%>"><%= blog.title%></a>
                            </div>
                        </div>
                    </div>
                  <% }); %>
                <% }else{ %>
                    <p>No blog</p>
                <% } %>
            </div>
        </div>
    </div>        
</div>

<script type="text/javascript" src="/scripts/maintainscroll.jquery.min.js"></script>
<% include ../partials/footer%>