<% include ../partials/header%>

    <% include ../partials/user-menu%>

            <div class="ui secondary vertical pointing menu">
              <a href="/users/<%= user._id%>" class="item">
                Home
              </a>
              <a href="/users/<%= user._id%>/blogs" class="item">
                Blogs
              </a>
              <% if(currentUser && user.username === currentUser.username) {%>
                <a href="/users/<%= user._id%>/feeds" class="item third-element">
                  New Feed<span class="ui blue circular label"><%= currentUser.feeds.length%></span>
                </a>
                <a href="/users/<%= user._id%>/messages" class="item active">
                  Messages<span class="ui blue circular label">1</span>
                </a>
              <% } %>
              <a href="/users/<%= user._id%>/following" class="item">
                Following
              </a>
            </div>
            <% if(currentUser && user.username !== currentUser.username) {%>
              <a id="leave-mess-btn" class="ui button">Leave a message<i class="talk outline icon" style="margin-left: 3px;"></i></a>
            <% } %>
        </div>
        
        <div id="mess" class="ui segment user-info">
            <div class="ui cards">
              <div class="card">
                <div class="content">
                  <img class="right floated mini ui image" src="http://data.whicdn.com/images/282685681/superthumb.jpg">
                  <div class="header">
                    Elliot Fu
                  </div>
                  <div class="description">
                    Elliot leaves you a message
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/maintainscroll.jquery.min.js"></script>
<% include ../partials/footer%>